
@{
    ViewData["Title"] = "HomeWork1";
}

<h2>ส่งการบ้าน</h2>

<form>
    <div class="form-group">
        <label>Project URL:</label>
        <input type="text" class="form-control" placeholder="กรุณากรอก project URL" required>
    </div>
    <button type="submit" class="btn btn-primary">ยืนยัน</button>
</form>

