
@{
    ViewData["Title"] = "HomeWork1";
}

<h2>ส่งการบ้าน</h2>

<form method="post" asp-action="HomeWork1" asp-route-url="url">
    <div class="form-group">
        <label>Project URL:</label>
        <input id="url" name="url" type="text" class="form-control" placeholder="กรุณากรอก project URL" required>
    </div>
    <button type="submit" class="btn btn-primary">ยืนยัน</button>
</form>

