@{
    ViewData["Title"] = "Home";
}

<div style="background-color: white; border-radius: 5px 5px; padding: 2em">

    <img class="img-responsive" src="~/images/banner.png" style="border-radius: 5px 5px" />
    <h2>ส่งการบ้าน Unlocking The Future Code</h2>

    <form method="post" asp-action="Index" asp-route-url="url">
        <div class="form-group">
            <label>Project URL</label>
            <input id="url" name="url" type="text" class="form-control" placeholder="กรุณากรอก project URL" required>
        </div>
        <hr />
        <button type="submit" class="btn btn-block btn-lg btn-primary">ยืนยัน</button>
    </form>
</div>