
@{
    ViewData["Title"] = "Success";
}

<div style="background-color: white; border-radius: 5px 5px; padding: 2em">

    <img class="img-responsive" src="~/images/banner.png" style="border-radius: 5px 5px" />
    <h2>ส่งการบ้านสำเร็จ !</h2>
    <p>กรุณารอสักครู่ ระบบกำลังดำเนินการเพื่อส่งผลคะแนนไปทางที่อยู่ e-mail ของคุณ</p>
    <hr />
    <a asp-action="Index" class="btn btn-block btn-lg btn-primary">กลับไปหน้าหลัก</a>
</div>